.header {
  background-color: #53cbff;
  text-align: center;
  font-size: larger;
}

h1 {
  color:#17252ae3;
}

.headerp {
  color:#ffffff;
  font-size: larger;
}

.child1, .child2, .child3, .child4 {
  background-color:#17252ae3;
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 30px;
  width: 100%;
}

body {
  background-color: #53cbff;
}

.title {
  width: 100%;
  margin-left: 50px;
}

#table {
  width: 150px;
}

.text {
  color: #ffffff;
}

.rightside {
  float: right;
  margin-left: 10%;
  width: 20%;
}

.leftside {
  float: left;
  width: 70%;
}

.child4right, .child1right, .child2right, .child3right {
  background-color: #17252ae3;
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 30px;
  width: 80%;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icons a {
  font-size: 1.5rem;
  color: #53cbff;
  margin: 10px 0;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .leftside, .rightside {
    width: 100%;
    float: none;
  }
  .title {
    margin-left: 0;
  }
}
