.header
{
  background-color: #53cbff;
  text-align: center;
  font-size: larger;
}

h1
{
  color:#17252ae3;

}

.headerp
{
  color:#ffffff;
  font-size: larger;
}

.child1
{
  background-color:#17252ae3 ;
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom: 30px;
}

.child2
{
  background-color:#17252ae3 ;
  margin-bottom: 30px;
  display: inline-block;
  padding: 1rem 1rem;
}

.child3
{
  background-color:#17252ae3 ;
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom:30px;
}

body
{
  background-color: #53cbff;
}

.title
{
  width: 100%;
  margin-left:50px;
}

#table
{
  width:150px;
}

.text
{
  color:#ffffff;
}

.rightside
{
  float:right;
  margin-left:10%;
  width: 20%;
}

.leftside
{
  float:left;
  width: 70%;
}

.child4right
{
  background-color: #17252ae3 ;
  display: inline-block;
  padding: 1rem 1rem;
  margin-bottom:30px;
  width: 80%;
}

.child1right
{
  background-color: #17252ae3 ;
  padding: 1rem 1rem;
  margin-bottom:30px;
  margin-right:85px;
  width: 80%;
  }

  .child2right
  {
    background-color: #17252ae3 ;
    padding: 1rem 1rem;
    margin-bottom:30px;
  
    width: 80%;
    }
	/* FAVORITE BOOKS */
    .child3right
	{
      background-color: #17252ae3 ;
      padding: 1rem 1rem;
      margin-bottom:30px;
      margin-right:85px;
      width: 80%;
      }

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.icons a {
  font-size: 1.5rem;
  color: #53cbff;
  margin: 10px 0;
}

img{
  height:300px;
  width: 300px;
  border-radius: 50%;
  border:10px solid white;
}